form {
  color: white;
}

form h2 {
  color: red;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  form {
    max-width: 80%;
    padding: 1rem;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input {
    margin-bottom: 0.5rem;
  }

  button {
    display: block;
    width: 30%;
    margin-top: 1rem;
  }
}
