.home {
  background-color: black;
  position: relative;
}

.home img {
  height: 100%;
  width: 100%;
}

.content {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 15rem;
  left: 5rem;
}

.content span {
  color: rgb(206, 28, 28);
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .content {
    font-size: 1.5rem;
    top: 8rem;
    left: 2rem;
  }

  .content h1 {
    text-align: center;
  }

  .home {
    height: 700px;
  }
}
